@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f3f3f3;
}

body {
  font-family: 'Inter', sans-serif;
}

.logo {
  animation: bounce 2s infinite ease-in-out;
}

/* Header styles */
.header {
  display: flex;
  justify-content: flex-end; /* Moves content to the right */
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: transparent; /* Ensure full transparency */
  backdrop-filter: none; /* Remove any blur effect */
  padding: 15px 30px; /* Adjust right padding for spacing */
  box-shadow: none; /* Remove shadow */
  z-index: 1000;
}


/* Styling for navigation links */
.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #b8b298; /* Change color on hover */
}

/* Ensure content is not hidden under the fixed header */
.container {
  padding-top: 70px; /* Adjust space to prevent content overlap */
}


.buttonGroup {
  display: flex;
  gap: 15px;
}

.buttonGroup button {
  background-color: #444;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonGroup button:hover {
  background-color: #777;
  transform: scale(1.05);
}

.container {
  padding-top: 20px; /* To prevent content from being hidden under the fixed header */
}



.aboutMe {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.custom-button {
  background-color: #444;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #777;
  transform: scale(1.1);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
